@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "scholarclassic";
  default: true;

  --color-primary: #2563eb;
  --color-primary-content: #ffffff;

  --color-secondary: #14b8a6;
  --color-secondary-content: #ffffff;

  --color-accent: #8b5cf6;
  --color-accent-content: #ffffff;

  --color-neutral: #475569;
  --color-neutral-content: #ffffff;

  --color-base-100: #ffffff;
  --color-base-200: #f8fafc;
  --color-base-300: #f1f5f9;

  --rounded-btn: 0.6rem;
  --rounded-box: 0.8rem;
  --border-btn: 1px;
  --border-radius: 0.5rem;

  --animation-btn: 0.2s;
  --animation-input: 0.2s;
}
